<h1>OpenCode 12</h1>

<p>Below is a list of our users.
  Why don’t you <%= link_to 'sign up', new_signup_path %> too?</p>

<ul>
  <% @users.each do |user| %>
    <% company = present(user.company) %>
    <li>
      <b><%= mail_to user.email %></b><br>
      <%= company.linked_name %>
    </li>
  <% end %>
</ul>
