/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, input, textarea, button {
  color: #333;
  font: 16px/1.4 Lucida Grande;
  margin: 0;
}

body {
  padding: 1em;
  margin: auto;
  max-width: 500px;
}

.notice {
  color: darkgreen;
  background: lightgreen;
  padding: 1em;
  border-radius: .5em;
  border: 1px dashed green;
}

/* Links */
a {
  color: #000;
}
a:hover, a:focus {
  color: #fff;
  outline: 2px solid #000;
  background-color: #000;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 1em;
  background: #eee;
  border: 1px dashed #ccc;
}
li + li { border-top: 0 }
li:first-child { border-radius: .5em .5em 0 0 }
li:last-child  { border-radius: 0 0 .5em .5em }

/* Forms */
input, textarea {
  padding: .5em;
  border: 1px solid #ccc;
  border-radius: .25em;
  margin: .2em 0;
}
label {
  display: block;
  margin: 1em 0 0 0;
}
.hint {
  color: grey;
  font-style: italic;
  display: block;
}
.form-actions {
  margin: 1em 0;
}
.field_with_errors input,
.field_with_errors textarea {
  border-color: red;
  background: pink;
}
span.error {
  display: block;
  color: red;
}
